* {
  margin: 0%;
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  &::selection {
    color: #0dcaf0;
    background-color: #000;
  }
}
img {
  object-fit: cover;
}
// Small tablets and large smartphones (landscape view)
$screen-sm-up: 576px;
$screen-sm-down: 575px;
// Small tablets (portrait view)
$screen-md-up: 768px;
$screen-md-down: 767px;
// Tablets and small desktops
$screen-lg-up: 992px;
$screen-lg-down: 991px;
// Large tablets and desktops
$screen-xl-up: 1200px;
$screen-xl-down: 1199px;
// Large   desktops
$screen-xxl-up: 1400px;
$screen-xxl-down: 1399px;
// Small devices
@mixin sm-up {
  @media (min-width: #{$screen-sm-up}) {
    @content;
  }
}
@mixin sm-down {
  @media (max-width: #{$screen-sm-down}) {
    @content;
  }
}
// Medium devices
@mixin md-up {
  @media (min-width: #{$screen-md-up}) {
    @content;
  }
}
@mixin md-down {
  @media (max-width: #{$screen-md-down}) {
    @content;
  }
}
// Large devices
@mixin lg-up {
  @media (min-width: #{$screen-lg-up}) {
    @content;
  }
}
@mixin lg-down {
  @media (max-width: #{$screen-lg-down}) {
    @content;
  }
}
// Extra large devices
@mixin xl-up {
  @media (min-width: #{$screen-xl-up}) {
    @content;
  }
}
@mixin xl-down {
  @media (max-width: #{$screen-xl-down}) {
    @content;
  }
}
// Extra large desktops
@mixin xxl-up {
  @media (min-width: #{$screen-xxl-up}) {
    @content;
  }
}
@mixin xxl-down {
  @media (max-width: #{$screen-xxl-down}) {
    @content;
  }
}

$mk-heading-1: clamp(1.2rem, 4vw, 3rem);
$mk-heading-2: clamp(1.1rem, 3.5vw, 2.8rem);
$mk-heading-3: clamp(1rem, 3vw, 2.5rem);
.mk {
  &-heading {
    &-1 {
      font-size: $mk-heading-1;
    }
    &-2 {
      font-size: $mk-heading-2;
    }
    &-3 {
      font-size: $mk-heading-3;
    }
  }
}
$mk-desc-1: clamp(1rem, 2vw, 1.8rem);
$mk-desc-2: clamp(0.8rem, 2vw, 1.5rem);
$mk-desc-3: clamp(0.8rem, 2vw, 1rem);
$mk-desc-4: clamp(0.7rem, 2vw, 0.8rem);
.mk {
  &-desc {
    &-1 {
      font-size: $mk-desc-1;
    }
    &-2 {
      font-size: $mk-desc-2;
    }
    &-3 {
      font-size: $mk-desc-3;
    }
    &-4 {
      font-size: $mk-desc-4;
    }
  }
}
// container
.container {
  max-width: 1800px;
}
// all pages section
.mk-pages {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  @include lg-down {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm-down {
    grid-template-columns: repeat(1, 1fr);
  }
  &-card {
    text-decoration: none;
    &-img {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 12px;
      overflow: hidden;
    }
  }
}
// total ready pages section
.mk-total-pages {
  padding-block: clamp(40px, 4vw, 60px);
  background-color: #e7e7e7;
}
// responsive section
.mk-responsive-sec {
  padding-inline: 20px;
  padding-block: clamp(50px, 9vw, 150px);
  background-color: #f2f2f2;
}

.mk-pages-report {
  padding-block: clamp(40px, 6vw, 130px);
  img {
    object-fit: cover;
  }
}
// footer section
footer {
  padding-top: 70px;
  padding-bottom: 40px;

  .mk-button {
    border: 2px solid #fff;
    padding-inline: clamp(20px, 3vw, 40px);
    padding-block: clamp(8px, 3vw, 20px);
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.5rem);
    position: relative;
    isolation: isolate;
    z-index: 2;
    &::after {
      content: "";
      background-color: #0dcaf0;
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0%;
      right: 0%;
      transition: all 0.8s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: #000;
      &::after {
        width: 100%;
      }
    }
  }
}
