//  /////[ COLOR ]/////
// background color
$Turquoise: #35cfea;
$Independence: #505767;
$Paradise-Pink: #9b5de5;
$green: #88c417;
$white: #fff;
// text colors
$t-white: #fff;
$t-dark: #333333;
$t-green: #88c417;
//  /////[ HEADING ]/////
$mk-heading-1: clamp(32px, 5vw, 65px);
$mk-heading-2: clamp(30px, 5vw, 54px);
$mk-heading-3: clamp(22px, 3vw, 36px);
// DESCRIPTION
$mk-desc-1: clamp(1rem, 2vw, 1.3rem);
$mk-desc-2: clamp(0.9rem, 2vw, 1.1rem);
$mk-desc-3: clamp(0.8rem, 2vw, 1rem);
$mk-desc-4: clamp(0.7rem, 2vw, 0.8rem);
//  /////[ BREAK POINT ]/////
// Small tablets and large smartphones (landscape view)
$screen-sm-up: 576px;
$screen-sm-down: 575px;
// Small tablets (portrait view)
$screen-md-up: 768px;
$screen-md-down: 767px;
// Tablets and small desktops
$screen-lg-up: 992px;
$screen-lg-down: 991px;
// Large tablets and desktops
$screen-xl-up: 1200px;
$screen-xl-down: 1199px;
// Large desktops
$screen-xxl-up: 1400px;
$screen-xxl-down: 1399px;
// Small devices
@mixin sm-up {
  @media (min-width: #{$screen-sm-up}) {
    @content;
  }
}
@mixin sm-down {
  @media (max-width: #{$screen-sm-down}) {
    @content;
  }
}
// Medium devices
@mixin md-up {
  @media (min-width: #{$screen-md-up}) {
    @content;
  }
}
@mixin md-down {
  @media (max-width: #{$screen-md-down}) {
    @content;
  }
}
// Large devices
@mixin lg-up {
  @media (min-width: #{$screen-lg-up}) {
    @content;
  }
}
@mixin lg-down {
  @media (max-width: #{$screen-lg-down}) {
    @content;
  }
}
// Extra large devices
@mixin xl-up {
  @media (min-width: #{$screen-xl-up}) {
    @content;
  }
}
@mixin xl-down {
  @media (max-width: #{$screen-xl-down}) {
    @content;
  }
}
// Extra large desktops
@mixin xxl-up {
  @media (min-width: #{$screen-xxl-up}) {
    @content;
  }
}
@mixin xxl-down {
  @media (max-width: #{$screen-xxl-down}) {
    @content;
  }
}
